@use '@styles/abstracts';

.header {
  position: sticky;
  top: 0;
  z-index: abstracts.$header-z-index;
  background-color: abstracts.$background-primary;
  border-bottom: 1px solid abstracts.$border-primary;
  padding: 0 abstracts.px_to_rem(32);

  &__search {
    display: none;
    @include abstracts.breakpoint-up(xs) {
      display: block;
      width: 50%;
    }
  }

  .link {
    &:focus-visible {
      outline: 2px solid black;
    }
  }
}
