@use '@styles/abstracts/functions' as functions;
@use '@styles/abstracts/variables' as variables;
@use '@styles/abstracts/mixins' as mixins;

.header {
  position: sticky;
  top: 0;
  z-index: variables.$header-z-index;
  background-color: variables.$background-primary;
  border-bottom: 1px solid variables.$border-primary;
  padding: 0 functions.px_to_rem(32);

  &__brand {
    display: none;
    @include mixins.breakpoint-up(md) {
      display: block;
    }
  }

  &__menu {
    flex: 1;
  }

  &__search {
    display: none;
    @include mixins.breakpoint-up(xs) {
      display: block;
      width: 50%;
    }
  }

  &__link {
    display: inline-flex;
  }
}
