// Theme Colors
$iris: #5d50c6;
$smashing-pumpkins: #ff5722;
$flame-yellow: #facd49;
$oleander-rose: #f85e9f;
$infinity: #222831;
$white: #ffffff;
$black: #000000;
$super-silver: #eeeeee;
$eerie-black: #1918251a;
$gray-black: #19182580;
$bright-sun: #facd4914;

// Brand Colors
$brand-primary: #e0e0e0;
$brand-secondary: $flame-yellow;

// Typography Colors
$text-primary: $black;
$text-secondary: $gray-black;
$text-tertiary: $smashing-pumpkins;
$text-highlight: $oleander-rose;
$text-light: $super-silver;
$text-dark: $infinity;

// Button Colors
$btn-primary: $iris;
$btn-secondary: $white;

// Border Colors
$border-primary: $eerie-black;
$border-light: $super-silver;

// Logo Colors
$logo-primary: $iris;
$logo-secondary: $oleander-rose;

// Outline
$outline-primary: $flame-yellow;
$outline-secondary: $iris;

// Background
$background-primary: $bright-sun;

// Blur
$blur-primary: $smashing-pumpkins;
$blur-secondary: $flame-yellow;

// Icon
$icon-primary: $smashing-pumpkins;
$icon-secondary: $flame-yellow;
$icon-tertiary: $oleander-rose;
