@use './variables';
@use './functions';
@use 'sass:math';
@use 'sass:map';

@mixin breakpoint-up($name) {
  @if not map.has-key(variables.$breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map.get(variables.$breakpoints, $name)) {
      @content;
    }
  }
}

@mixin padding-vertical($primary, $secondary: $primary) {
  padding-top: functions.px-to-rem($primary);
  padding-bottom: functions.px-to-rem($secondary);
}

@mixin padding-horizontal($primary, $secondary: $primary) {
  padding-left: functions.px-to-rem($primary);
  padding-right: functions.px-to-rem($secondary);
}
