@use '@styles/abstracts';

.footer {
  background-color: abstracts.$background-secondary;
  border-top: 1px solid abstracts.$border-secondary;

  .link {
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
