@use '../abstracts/functions' as functions;
@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

.form {
  @include mixins.flex($direction: column, $align-items: stretch, $gap: functions.px-to-rem(8));
  min-width: functions.px-to-rem(350);
  &-control {
    flex-direction: column;
  }

  &__error {
    color: variables.$error;
  }
}
