@use '@styles/abstracts/functions';
@use '@styles/abstracts/mixins';
@use '@styles/abstracts/variables';

.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    padding: functions.px-to-rem(32);
    width: 100%;
    max-width: variables.$container-max-width;
    margin: 0 auto;

    @include mixins.breakpoint-up(xl) {
      padding: functions.px-to-rem(32) 0;
    }
  }
}
